h1 {
    color:black;
	font-style: oblique;
    font-size: x-large;
}
form { 
    background-color: lightgrey;
    font-family: inherit;
    padding: 20px;
}
a:link {
    background-color:#CCCCCC;
}
label {
    float: left;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    width: auto;
}
input {
    text-align: right;
    background-color: white;
}
fieldset {
    border-color: black;
    background-color: white;
}
textarea {
    background-color: white;
}